* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
 }
  
 body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right,#95e5e9,#54afb3,#95e5e9);
 }
 .area-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
 }
 .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #effaeb;
    width: 580px;
    height: 250px;
    padding: 35px;
    border-radius: 10px;
 }
 .login form {display: flex;
    flex-direction: column; 
    width: 81%;
 
 }
 .login input {
    margin-top: 25px;
    background-color: #e6ede3;
    padding-left: 13px;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
 }
 .login img {
    height: 40px;
    margin-top: 20px;
 }
 b {
    margin-top: 10px;
 }
 input::placeholder {
    color: #a5aba3;
    font-weight: bold;
    font-size: 20px;
 }
 form [type="submit"]{
    align-self: center;
    width: 65%;
    display: block;
    background-color: #236893;
    color: #ffffff;
    cursor: pointer;
    margin-top: 15px;
 }
 p{
    margin-top: 15px;
 }
 #password{
   margin-left: 2px;
 }
 a {
    color: #236893;
    text-decoration: none;
 }
 a:hover{
     color: #358dc4;
 }
 form [type="submit"]:hover{
     background-color: #3088be;
 }
 @media (max-width: 1366px){
    * {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        margin: 0;
        padding: 0;
     }
      
     body {
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(to right,#95e5e9,#54afb3,#95e5e9);
     }
     .area-login {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
     }
     .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #effaeb;
        width: 440px;
        height: 420px;
        padding: 30px;
        border-radius: 10px;
     }
     .login form {display: flex;
        flex-direction: column; 
        width: 80%;
     
     }
     .login input {
        margin-top: 21px;
        background-color: #e6ede3;
        padding-left: 10px;
        border: none;
        height: 45px;
        outline: none;
        border-radius: 8px;
     }
     .login img {
        height: 40px;
        margin: 0%;
     }
     b {
        margin-top: 10px;
     }
     input::placeholder {
        color: #a5aba3;
        font-weight: bold;
        font-size: 17px;
     }
     form [type="submit"]{
        align-self: center;
        width: 60%;
        height: 42px;
        display: block;
        background-color: #236893;
        color: #ffffff;
        cursor: pointer;
     }
     p{
        margin-top: 7px;
     }
     a {
        color: #236893;
        text-decoration: none;
     }
     a:hover{
         color: #358dc4;
     }
     form [type="submit"]:hover{
         background-color: #3088be;
     }
     
 }

